body{
    text-align: center;
        
}

h1{
    color:white;
    margin-top:20px;
    font-size: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.square{
    width: 200px;
    height:180px;
    display:inline-block;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 1);
    transition: 0.3s ease-in-out;
}

.square:hover{
   
    transform: translateY(-5%)
    
}

.o{
    position:relative;

}


.o:after{
    position:absolute;
    content: "\1F6E1";
    font-size:101px;
    line-height: 180px;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.x{
    position:relative;

}

.x:after{
    position:absolute;
    content: "\2694";
    font-size:100px;
    line-height: 180px;
    top:0;
    left:0;
    right:0;
    bottom:0;
}


button{
    color:white;
    margin: auto;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    width: 280px;
    height: 80px;
    font-size: 2em;
    letter-spacing: 2px;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 1);
    transition: 0.2s ease-in-out;
}

button:hover{
    transform: translateY(-10%)
      
}

#vanta{
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


main{
    position: relative;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 0.5s ease-in-out, filter 2s ease-in-out;
   
}
